@model AutoDealer.Web.Models.Employee

@{
    List<string> roles = new() { "админ", "менеджер", "директор" };
}
<h2 class="text-start my-3">Редактирование записи</h2>
<div class="row">
    <form asp-controller="Employee" asp-action="Edit" enctype="multipart/form-data" method="post" class="col-4"
          data-ajax-method="post" data-ajax-update="#resultContent" data-ajax="true">
        <input asp-for="Id" type="hidden" />
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" type="password" value="@Model.Password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BDay" class="control-label"></label>
            <input asp-for="BDay" class="form-control" value="@Model.BDay" data-date-format="dd-MMM-yyyy" type="text">
            <span asp-validation-for="BDay" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Role" class="control-label"></label>
            @Html.DropDownListFor(m=>m.Role, new SelectList(roles), new {@class="form-control"})
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-primary" />
            <a id="cancelBtn" value="Отмена" class="btn btn-outline-danger">Отмена</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
}

<script type="text/javascript" src="./js/employee.js"></script>

