@model AutoDealer.Web.ViewModel.CarModelViewModel

<h2 class="text-start my-3">Модели авто</h2>
@{
   await Html.PartialAsync("Notification");
}

<div class="row">
    <div class=" col-6 d-flex align-items-center justify-content-between mb-2">
        <label class="mr-3">Компания</label>
        <select asp-for="@Model.CompanyId" class="form-control mr-3" asp-items="@(new SelectList(@Model.Companies,"Id","Title"))">
            <option value="0">Выберите</option>
        </select>
        <button id="filterBtn" class="btn btn-outline-secondary">Применить</button>
    </div>
</div>
<div id="modelContent"></div>

<script type="text/javascript" src="./js/carModel.js"></script>