<div class="container mt-4">
	<h1 class="text-center my-3 page_title">Наши контакты</h1>
	<div class="row">
		<div class="col-4 ml-4">
            <h4>Наш адрес</h4>
			<ul class="p-0 contacts">
				<li>Республика Беларусь</li>
				<li>г. Гомель, ул. Советская 26</li>
			</ul>
            <div>
                <h4>Телефоны</h4>
				<ul class="p-0 contacts">
					<li><a href="tel:+375 44 777-99-11">+375 44 777-99-11</a><span class="a1"> A1</span></li>
					<li><a href="tel:+375 29350-44-55">+375 29 350-44-55</a><span class="mts"> МТС</span></li>
				</ul>
			</div>
        </div>
		<div class="col-5">
			<h4>Время работы</h4>
			<ul class="p-0 contacts">
				<li>Понедельник: <span>9.00 - 19.00</span></li>
				<li>Вторник: <span>9.00 - 19.00</span></li>
				<li>Среда: <span>9.00 - 19.00</span></li>
				<li>Четверг: <span>9.00 - 19.00</span></li>
				<li>Пятница: <span>9.00 - 19.00</span></li>
				<li>Суббота: <span>9.00 - 19.00</span></li>
				<li>Воскресенье: <span>9.00 - 19.00</span></li>
			</ul>
		</div>
	</div>
	<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af18f3514c372fd44f772717e7c82cd929e53fbb2823c3c916eb1c3df9c12c55d&amp;source=constructor" width="100%" height="460" frameborder="0"></iframe>
</div>
