@model AutoDealer.Web.Models.LoginModel
 
<div class="row align-items-center justify-content-md-center container-login">
    <div class="col-12">
        <div class="row justify-content-center g-0">
            <div class="col-lg-5 col-md-5 col-12">
                <div class="bg-white rounded-10 shadow-lg">
                    <div class="content-top-agile p-2 pb-0 text-center">
                        <h2 class="head-login-title">Вход</h2>
                        @{
                            if(@ViewBag.NeedToBeAdmin == "true") { 
                               <span class="text-danger">@ViewBag.AdminLoginMessage</span>
                            }
                        }
                    </div>
                    <div class="p-4">
                        <form asp-action="Login" asp-controller="Account" method="post" asp-anti-forgery="true">
                            <div class="validation error_login" asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
                                    <input asp-for="Email" type="text" class="form-control ps-15 bg-transparent" placeholder="Email">
                                    @*<span asp-validation-for="Email" />*@
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <div class="input-group mb-3">
                                    <span class="input-group-text  bg-transparent"><i class="ti-lock"></i></span>
                                    <input asp-for="Password" type="password" class="form-control ps-15 bg-transparent" placeholder="Пароль">
                                    @*<span asp-validation-for="Password" />*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-danger mt-1">ВОЙТИ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
