@model AutoDealer.Web.Models.Sale

@if(ViewBag.SaleSuccess == "ok")
    {
        <div class="alert alert-success" role="alert">
            Продажа оформлена и сохранена успешно.
        </div>
    }
<div>
    finish sale
</div>
