<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoDealer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lightbox.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/skin_color.css" />
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-fileinput/css/fileinput.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/bootstrap-datepicker/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/assets/icons/themify-icons/themify-icons.css" />

    @*<link rel="stylesheet" href="~/css/plugins/plugins.min.css" />*@
    @*<link rel="stylesheet" href="~/css/vendor/vendor.min.css" />*@
    @*<link rel="stylesheet" href="~/css/style.dki.min.css" />*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="~/lib/bootstrap-fileinput/themes/fa/theme.js"></script>

    <script src="~/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js"></script>

</head>
<body class="hold-transition theme-primary bg-img" style="background-image: url(/assets/images/auth-bg/bg-1.jpg)">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
        <div class="container justify-content-center">
            <a class="navbar-brand menu-link-logo d-none d-md-block d-lg-block d-xl-block" asp-area="" asp-controller="car" asp-action="Index">AutoDealer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex ">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item menu-link"><a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="Index">авто</a></li>
                    <li class="nav-item menu-link"><a class="nav-link text-dark" asp-area="" asp-controller="Sale" asp-action="Index">продажи</a></li>
                    <li class="nav-item menu-link"><a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">о нас</a></li>
                    <li class="nav-item menu-link"><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">админка</a></li>
                    <li class="nav-item menu-link"><a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="Create">принять авто new</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="d-flex align-items-center col-4 account_li">
							<ul class="navbar-nav flex-grow-1 d-flex justify-content-end align-items-center">
								<li class="nav-item menu-link"><span>@User.Identity.Name</span></li>
								<li class="nav-item menu-link"><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout"><i class="bi bi-box-arrow-right"></i></a></li>
							</ul>
						</li>
                    }
                    else
                    {
                        <li class="d-flex align-items-center justify-content-end col-4 account_li"><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" tabindex="5"><i class="bi bi-box-arrow-in-right"></i></a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div id="header">
            <div class="top_info">
                <div class="logo">
                    <a class="navbar-brand" asp-area="" asp-controller="Car" asp-action="Index">
                        <img src="~/images/logo.png" alt="logo">
                    </a>

                    <a href="#">Auto<span>Dealer</span></a>
                </div>
                <div class="header_contacts">
                    <div class="phone">+375 (29) 455-55-95</div>
                    <div>Беларусь г.Гомель ул.Советская д.59</div>
                </div>
            </div>
        </div>
    </header>
    <div class="container h-p75">
        @*<main role="main" class="pb-3">*@
        @RenderBody()
        @*</main>*@
    </div>
    <footer class="foot mt-4">
        <div class="foot_main">
            <div class="foot_menu pb-2">
                <ul class="d-flex justify-content-center">
                    <li class="mr-3">
                        <a href="#">Комиссия</a>
                    </li>
                    <li class="mr-3">
                        <a href="#">Выкуп</a>
                    </li>
                    <li class="mr-3">
                        <a href="#">Обмен</a>
                    </li>
                    <li class="mr-3">
                        <a href="#">Кредит</a>
                    </li>
                    <li class="mr-3">
                        <a href="#">Лизинг</a>
                    </li>
                    <li class="mr-3">
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-between pb-4 pt-4">
                <div class="foot_item">
                    <h4>Телефоны</h4>
                    <p>Продажа автомобилей ул. Советская 26</p>
                    <p><a href="tel:+375 44 777-99-11">+375 44 777-99-11</a> A1</p>
                    <p><a href="tel:+375 29350-44-55">+375 29 350-44-55</a> МТС</p>
                </div>
                <div class="foot_item">
                    <p>Кредит / Лизинг</p>
                    <p><a href="tel:+375 29111-99-00">+375 29 111-99-00</a> A1</p>
                    <p>Cрочный выкуп / Обмен</p>
                    <p><a href="tel:+375 29344-66-88">+375 29 344-66-88</a> A1</p>
                    <p><a href="tel:+375 44744-77-77">+375 44 744-77-77</a> A1</p>
                    <p>Поставить авто на продажу</p>
                    <p><a href="tel:+37544799-10-20">+37544 799-10-20</a> А1</p>
                </div>

                <div class="foot_item gr_bl">
                    <h4>Время работы</h4>
                    <p>Понедельник: <span>9.00 - 19.00</span></p>
                    <p>Вторник: <span>9.00 - 19.00</span></p>
                    <p>Среда: <span>9.00 - 19.00</span></p>
                    <p>Четверг: <span>9.00 - 19.00</span></p>
                    <p>Пятница: <span>9.00 - 19.00</span></p>
                    <p>Суббота: <span>9.00 - 19.00</span></p>
                    <p>Воскресенье: <span>9.00 - 19.00</span></p>
                    <p class="graf">
                        Ежедневно без выходных<br>
                        с 9.00 до 19.00
                    </p>
                </div>

                <div class="foot_item">
                    <h4>Наш адрес</h4>
                    <p>Республика Беларусь, <br><br>г. Гомель, ул. Советская 26<br></p>

                    <a class="foot_a" href="https://4kolesa.by/contact-01/">Смотреть на карте</a>
                    <div class="social">
                        <p>Мы в соц.сетях:</p>
                        <a href="https://www.instagram.com/autodealer.by/"><img src="https://4kolesa.by/wp-content/themes/fourwheels/assets/in_w.svg" data-src="https://4kolesa.by/wp-content/themes/fourwheels/assets/in_w.svg"></a>
                        <a href="https://www.facebook.com/autodealer.by"><img src="https://4kolesa.by/wp-content/themes/fourwheels/assets/fb_w.svg" data-src="https://4kolesa.by/wp-content/themes/fourwheels/assets/fb_w.svg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_wrapper">
            <div class="copyright">&copy; 2013 Auto Sale. All Rights Reserved.</div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/lightbox.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/assets/icons/feather-icons/feather.min.js"></script>

    @*<script src="~/js/vendor/vendor.min.js"></script>
        <script src="~/js/plugins/plugins.min.js"></script>
        <script src="~/js/main.js"></script>*@

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
