<div class="container-fluid bg-light" id="adminPanel">
    <div class="row h-100">
        <div class="col-2" id="sideBar">
            <nav class ="navbar">
                <ul class="navbar-nav nav">
                    <li class="nav-item leftSide">
                        <a asp-controller="company" asp-action="index" class="nav-link"><i class="fa fa-fw fa-home"></i>Марки</a>
                    </li>
                    <li class="nav-item leftSide">
                        <a class="nav-link" id="models" href="#"><i class="fa fa-fw fa-wrench"></i>Модели</a>
                    </li>
                    <li class="nav-item leftSide">
                        <a class="nav-link" id="colors" href="#"><i class="fa fa-fw fa-user"></i>Цвета</a>
                    </li>
                    <li class="nav-item leftSide">
                        <a class="nav-link" id="employees" href="#"><i class="fa fa-fw fa-user"></i>Работники</a>
                    </li>
                    <li class="nav-item leftSide">
                        <a class="nav-link" id="cars" href="#"><i class="fa fa-fw fa-envelope"></i>Авто на складе</a>
                    </li>
                </ul>
            </nav>
            
        </div>
        <div id="resultContent" class="col-9" style="padding: 0;"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript" src="./js/adminPanel.js"></script>