@model string

<div id="successModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="bi bi-check-circle"></i>
				</div>				
				<h4 class="modal-title w-100">Отлично!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">@Model</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>