
@{
    string partMessage = string.Empty;
    switch (ViewBag.Success)
    {
        case "created": partMessage = "создана";
            break;
        case "deleted": partMessage = "удалена";
            break;
        case "edited": partMessage = "изменена";
            break;
    }

    if(partMessage != string.Empty)
    {
        <div class="alert alert-success text-secondary col-sm-6" role="alert">Запись успешно @partMessage</div>   
    }
}