<div class="container-fluid bg-light" id="adminPanel">
    <!-- h-100 takes the full height
            of the container-->
    <div class="row h-100">
        <div class="col-2" id="sideBar">
            <nav class ="navbar">
                <ul class="navbar-nav nav">
                    <li class="nav-item leftSide">
                        <a class="nav-link" id="company" href="#" ><i class="fa fa-fw fa-home"></i>Марки</a>
                    </li>
                    <li class="nav-item leftSide">
                        <a class="nav-link" id="model" href="#"><i class="fa fa-fw fa-wrench"></i>Модели</a>
                    </li>
                    <li class="nav-item leftSide">
                        <a class="nav-link" id="color" href="#"><i class="fa fa-fw fa-user"></i>Цвета</a>
                    </li>
                    <li class="nav-item leftSide">
                        <a class="nav-link" id="color" href="#"><i class="fa fa-fw fa-user"></i>Работники</a>
                    </li>
                    <li class="nav-item leftSide">
                        <a class="nav-link" id="auto" href="#"><i class="fa fa-fw fa-envelope"></i>Авто на складе</a>
                    </li>
                </ul>
            </nav>
            
        </div>
        <div id="resultContent" class="col-9" style="padding: 0;">
            <!-- Contains the main content of the webpage-->
            <p style="padding: 15px; text-align: justify;">
                content!!!!!
            </p>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $("#company").click(function() {
        $.ajax({
            url: '@Url.Action("CompanyIndex", "Car")',
            type: "GET",
            data: {},
            success: function (data) {
                $("#resultContent").html(data);
                console.log("ok from partial");
                //hideSpinner();
            },
            error: function (ex) {
                //hideSpinner();
            }
        });
    });

    $("#model").click(function() {
        $.ajax({
            url: '@Url.Action("Index", "Model")',
            type: "GET",
            data: {
            },
            success: function(data) {
                $("#resultContent").html(data);
                console.log("ok from partial");
                //hideSpinner();
            },
            error: function(ex) {
                //hideSpinner();
            }
        });
    });

    $("#color").click(function() {
        $.ajax({
            url: '@Url.Action("Index", "Color")',
            type: "GET",
            data: {
            },
            success: function(data) {
                $("#resultContent").html(data);
                console.log("ok from partial");
                console.log("resultContent" + data);
                //hideSpinner();
            },
            error: function(ex) {
                //hideSpinner();
            }
        });
    });
</script>
