<div class="container-fluid bg-light" id="adminPanel">
    <div class="row h-100">
        <div class="col-2">
            <ul class="p-0 admin_panel rounded">
				<li class="pl-2 admin_item" id="companies">
					<a href="#">Марки</a>
				</li>
				<li class="pl-2 admin_item" id="models">
					<a href="#">Модели</a>
				</li>
				<li class="pl-2 admin_item" id="colors">
					<a href="#">Цвета</a>
				</li>
				<li class="pl-2 admin_item" id="employees">
					<a href="#">Работники</a>
				</li>
				<li class="pl-2 admin_item" id="cars">
					<a href="#">Авто</a>
				</li>
			</ul>
        </div>
        <div id="resultContent" class="col-10 p-0 h-100"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript" src="./js/adminPanel.js"></script>
